<!DOCTYPE html>
<html>
  <head>
    <title>InvestmentInCryptoeconomy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-body-tertiary border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand">
          <i class="fa-solid fa-coins" style="color: #0052FF;"></i>
          Cryptoeconomy
        </a>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
